<!DOCTYPE html>
<html>
  <head>
    <title>Retrendo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/homepage.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script src="/details.js"></script>
    <script src="/favorites.js"></script>
    <style>
      .no-favorites-message {
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="logo-search-wrapper">
        <div class="logo-section">
          <a href="/">
            <img id="logo" src="/images/Logo.jpg" alt="Logo" />
          </a>
        </div>

        <div class="search-icons">
          <div class="search-bar-container">
            <form action="/search" method="GET" class="search-bar">
              <input type="text" placeholder="Sök produkt" name="search" />
              <button type="submit">
                <img src="/images/search.png" alt="search-icon" />
              </button>
            </form>
          </div>

          <div class="icons">
            <div class="favorite">
              <a>
                <img src="/svg/favorites.svg" alt="favoriter" />
              </a>
            </div>
            <div class="basket">
              <a href="/cart" class="varukorg-icon">
                <img src="/svg/basket.svg" alt="varukorg" />
              </a>
            </div>
            <div class="menu-icon">
              <img src="/svg/menu.svg" alt="Meny" />
              <div class="menu-links">
                <a href="">Logga in</a>
                <a href="">Registrera dig</a>
                <a href="">Sälj din produkt</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="/">Hem</a></li>
          <li><a href="#">Dam</a></li>
          <li><a href="#">Herr</a></li>
          <li><a href="#">Elektronik</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="main">
        <div class="spot-container">
          <div class="spot">
            <div class="spot-image">
              <img src="/images/spot1.png" alt="Spot 1" />
            </div>
            <div class="spot-text">
              Bli en del av förändring - handla billigt och hållbart!
            </div>
          </div>
          <div class="spot">
            <div class="spot-image">
              <img src="/images/spot2.png" alt="Spot 2" />
            </div>
            <div class="spot-text">
              Inga massproducerade plagg här, bara äkta stil.
            </div>
          </div>
          <div class="spot">
            <div class="spot-image">
              <img src="/images/spot3.png" alt="Spot 3" />
            </div>
            <div class="spot-text">Prisvärd teknik för en smartare vardag.</div>
          </div>
        </div>

        <section class="recently-added">
          <h2>Mina favoriter</h2>

          <% if (containsCategories.dam === true) { %>
          <div id="dam-category">
            <section class="dam-section">
              <a href="#" class="dam-link">
                <h3>Dam</h3>
              </a>
            </section>
            <div class="products-grid">
              <% favoriteProducts.filter(product => product.category ===
              'Dam').forEach(product => { %>
              <div id="<%= product.id %>" class="product">
                <a href="/product/<%= product.slug %>">
                  <div class="product-image">
                    <img
                      src="<%= product.image || '/images/tshirt.png' %>"
                      alt="<%= product.name %>"
                    />
                  </div>
                  <div class="product-brand-price">
                    <span><%= product.brand %></span>
                    <span><%= product.price %> SEK</span>
                  </div>
                  <div class="product-details">
                    <div class="product-type"><%= product.product_type %></div>
                    <div class="product-size"><%= product.size %></div>
                  </div>
                </a>
                <div id="<%= product.id %>" class="heart">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <path
                      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                    />
                  </svg>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
          <% } %> <% if (containsCategories.herr === true) { %>

          <div id="herr-category">
            <section class="dam-section">
              <a href="#" class="dam-link">
                <h3>Herr</h3>
              </a>
            </section>
            <div class="products-grid">
              <% favoriteProducts.filter(product => product.category ===
              'Herr').forEach(product => { %>
              <div id="<%= product.id %>" class="product">
                <a href="/product/<%= product.slug %>">
                  <div class="product-image">
                    <img
                      src="<%= product.image || '/images/tshirt.png' %>"
                      alt="<%= product.name %>"
                    />
                  </div>
                  <div class="product-brand-price">
                    <span><%= product.brand %></span>
                    <span><%= product.price %> SEK</span>
                  </div>
                  <div class="product-details">
                    <div class="product-type"><%= product.product_type %></div>
                    <div class="product-size"><%= product.size %></div>
                  </div>
                </a>
                <div id="<%= product.id %>" class="heart">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <path
                      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                    />
                  </svg>
                </div>
              </div>
              <% }); %>
            </div>
          </div>

          <% } %> <% if (containsCategories.elektronik === true) { %>
          <div id="elektronik-category">
            <section class="electronic-section">
              <a href="#" class="electronic-link">
                <h4>Elektronik</h4>
              </a>
            </section>
            <div class="products-grid">
              <% favoriteProducts.filter(product => product.category ===
              'Elektronik').forEach(product => { %>

              <div id="<%= product.id %>" class="product">
                <a href="/product/<%= product.slug %>">
                  <div class="product-image">
                    <img
                      src="<%= product.image || '/images/tshirt.png' %>"
                      alt="<%= product.name %>"
                    />
                  </div>
                  <div class="product-brand-price">
                    <span><%= product.brand %></span>
                    <span><%= product.price %> SEK</span>
                  </div>
                  <div class="product-details">
                    <div class="product-type"><%= product.product_type %></div>
                    <div class="product-size"><%= product.size %></div>
                  </div>
                </a>
                <div id="<%= product.id %>" class="heart">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <path
                      d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                    />
                  </svg>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
          <% } %>
        </section>

        <section>
          <div class="core-values-container">
            <div class="core-value-item">
              <span>
                <img src="svg/quality.svg" alt="Quality icon" />
              </span>
              <span class="core-value-text">Kvalitetssäkrad</span>
            </div>

            <div class="core-value-item">
              <span>
                <img src="svg/Sustainability.svg" alt="Sustainability icon" />
              </span>
              <span class="core-value-text">Hållbarhet</span>
            </div>

            <div class="core-value-item">
              <span>
                <img src="svg/safe-transaction1.svg" alt="Transaction icon" />
              </span>
              <span class="core-value-text">Säker betalning</span>
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <div class="footer">
        <div class="footer-section-container">
          <div class="footer-section">
            <h5>Retrendo</h5>
            <ul>
              <li><a href="#">Om oss</a></li>
              <li><a href="#">Kontakta oss</a></li>
              <li><a href="#">Leverans</a></li>
              <li><a href="#">Vanliga frågor och svar</a></li>
            </ul>
          </div>

          <div class="socials-container">
            <h6>Följ oss på sociala medier</h6>
            <div class="socials-icons">
              <a href="">
                <img src="svg/facebook.svg" alt="Facebook icon" />
              </a>
              <a href="">
                <img src="svg/instagram.svg" alt="Instagram icon" />
              </a>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <span>© 2025 Retrendo-All Rights Reserved</span>
        </div>
      </div>
    </footer>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuIcon = document.querySelector(".menu-icon");

    menuIcon.addEventListener("click", (e) => {
      e.stopPropagation();
      menuIcon.classList.toggle("open");
    });

    document.addEventListener("click", () => {
      menuIcon.classList.remove("open");
    });
  });
</script>
