<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<link rel="stylesheet" href="../stylesheets/details.css">-->
    <link rel="stylesheet" href="../stylesheets/productdetails.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="/javascripts/details.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />
    <title>Details</title>
  </head>
  <body>
    <header class="header">
      <div class="logo-search-wrapper">
        <div class="logo-section">
          <a href="/">
            <img id="logo" src="/images/Logo.jpg" alt="Logo" />
          </a>
        </div>

        <div class="search-icons">
          <div class="search-bar-container">
            <form action="" class="search-bar">
              <input type="text" placeholder="Sök produkt" name="q" />
              <button type="submit">
                <img src="/images/search.png" alt="search-icon" />
              </button>
            </form>
          </div>

          <div class="icons">
            <div class="favorite">
              <a href="">
                <img src="/svg/favorites.svg" alt="favoriter" />
              </a>
            </div>
            <div class="basket">
              <a href="" class="varukorg-icon">
                <img src="/svg/basket.svg" alt="varukorg" />
              </a>
            </div>
            <div class="menu-icon">
              <img src="/svg/menu.svg" alt="Meny" />
              <div class="menu-links">
                <a href="">Logga in</a>
                <a href="">Registrera dig</a>
                <a href="">Sälj din produkt</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="/">Hem</a></li>
          <li><a href="#">Dam</a></li>
          <li><a href="#">Herr</a></li>
          <li><a href="#">Elektronik</a></li>
        </ul>
      </nav>
    </header>

    <section class="productContainer">
      <article class="productInfo">
        <div class="productImage">
          <% if (product.is_new === 'true') { %>
          <div class="nyhet">Nyhet</div>
          <% } %>
          <a href="#">
            <picture>
              <img src="<%= product.image %>" alt="<%= product.name %>" />
            </picture>
          </a>
          <div class="heart">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
              />
            </svg>
          </div>
        </div>

        <div class="text">
          <div class="productHeading">
            <h3><%= product.name %></h3>
            <p class="price"><%= product.price %> sek</p>
            <p><%= product.product_type %></p>
          </div>
          <div class="productTableContainer">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Färg</th>
                  <td><%= product.color %></td>
                </tr>
                <tr>
                  <th scope="row">Storlek</th>
                  <td><%= product.size %></td>
                </tr>
                <tr>
                  <th scope="row">Märke</th>
                  <td><%= product.brand %></td>
                </tr>
                <tr>
                  <th scope="row">Skick</th>
                  <td><%= product.condition %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <h4 class="extraRubrik"><%= product.condition %></h4>
          <p class="extraInfo"><%= product.description %></p>
          <div class="buttons">
            <form action="post">
              <button type="submit" class="add">Lägg i varukorg</button>
            </form>
            <form action="post" method="post">
              <button type="submit" class="checkOut">Till kassan</button>
            </form>
          </div>
        </div>
      </article>
    </section>

    <!--Hidden-->
    <section class="similarContainer">
      <h2 class="similarHeading">Liknande Produkter</h2>
      <% similarProducts.forEach(product => { %>
      <article class="similarProducts">
        <div class="images">
          <a href="/product/<%= product.slug %>">
            <picture>
              <img src="<%= product.image %>" alt="<%= product.name %>" />
            </picture>
          </a>
          <div class="heart">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
              />
            </svg>
          </div>
        </div>
        <div class="productsBrand">
          <h3 class="productSimilarHeading"><%= product.brand %></h3>
          <p class="productPrice"><%= product.price %> sek</p>
          <p class="productName"><%= product.product_type %></p>
        </div>
      </article>
      <% }); %>
    </section>

    <section class="sertificationContainer">
      <div class="core-values-container">
        <div class="core-value-item">
          <span>
            <img src="/svg/quality.svg" alt="Quality icon" />
          </span>
          <span class="core-value-text">Kvalitetssäkrad</span>
        </div>

        <div class="core-value-item">
          <span>
            <img src="/svg/Sustainability.svg" alt="Sustainability icon" />
          </span>
          <span class="core-value-text value">Hållbarhet</span>
        </div>

        <div class="core-value-item">
          <span>
            <img src="/svg/safe-transaction1.svg" alt="Transaction icon" />
          </span>
          <span class="core-value-text">Säker betalning</span>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer">
        <div class="footer-section-container">
          <div class="footer-section">
            <h5>Retrendo</h5>
            <ul>
              <li><a href="#">Om oss</a></li>
              <li><a href="#">Kontakta oss</a></li>
              <li><a href="#">Leverans</a></li>
              <li><a href="#">Vanliga frågor och svar</a></li>
            </ul>
          </div>

          <div class="socials-container">
            <h6>Följ oss på sociala medier</h6>
            <div class="socials-icons">
              <a href="">
                <img src="/svg/facebook.svg" alt="Facebook icon" />
              </a>
              <a href="">
                <img src="/svg/instagram.svg" alt="Instagram icon" />
              </a>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <span>© 2025 Retrendo-All Rights Reserved</span>
        </div>
      </div>
    </footer>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuIcon = document.querySelector(".menu-icon");

    menuIcon.addEventListener("click", (e) => {
      e.stopPropagation();
      menuIcon.classList.toggle("open");
    });

    document.addEventListener("click", () => {
      menuIcon.classList.remove("open");
    });
  });
</script>
